<h5>
  <i class="fa fa-github"></i>
  &nbsp; <a href="/bbs/OurJS" target="_blank">开源的 OurJS</a>
</h5>

<div style="color:#000;">
  OurJS开源博客已经迁移到 <a href="http://onceoa.com" target="_blank"><b>OnceOA</b></a> 平台。
  <ul class="list-unstyled">
    <li>
      <a href="//github.com/newghost/ourjs" target="_blank">旧版 OurJS 源代码</a>
    </li>
    <li>
      <a href="//onceoa.com/wiki/view/oncedoc/ourjs-migrate" target="_blank">如何将从 OurJS 迁移到 OnceOA </a>
    </li>
    <li>
      <a href="https://github.com/OnceDoc/onceoa-ourjs" target="_blank">OurJS模块源码</a>
    </li>
  </ul> 
</div>

<hr>

<h5>
  <i class="glyphicon glyphicon-eye-open"></i>
  &nbsp; <a href="/bbs/OurJS" target="_blank">{{=it.local.FOLLOW}}我们</a>
</h5>

<div class="section clearfix">
  {{=it.local.FOLLOW_US}}<br>
  {{=it.local.FOLLOW_US_NAME}} <br><br>
  {{=it.local.FOLLOW_US_HTML || ''}}
</div>