<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{=it.article.title}} | OnceDoc</title>
  <link rel="stylesheet" href="/css/oncedoc.odoc.css">
</head>

<body>
<div class="container">
{{=it.article.content || it.article.summary}}
</div>
</body>
</html>